# Зависимости для разработки и тестирования
-r requirements.in  # Наследуем основные зависимости

# Тестирование
pytest==8.0.0
pytest-cov==4.1.0

# Форматирование кода
black==24.1.1
isort==5.13.2
flake8==7.0.0

# pip-tools сам по себе
pip-tools==7.4.1
